* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'libre';
    src: url('../font/AbhayaLibre-ExtraBold.ttf') format('truetype');
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

body {
    background-color: #150101;
}

html {
    scroll-behavior: smooth;
}

.w {
    width: 800px;
    margin: 0 auto;
}

.header ul li {
    border-bottom: 5px #fff solid;
    margin-top: 45px;
}

.header ul li:nth-child(-n+4) {
    border-bottom: 7px #fff solid;
}

.header ul li:nth-child(6) {
    border-bottom: 3px #fff solid;
}

.header ul li:nth-child(7) {
    border-bottom: 1px #fff solid;
}

.f1 {
    text-align: center;
    margin-top: 20vh;
    color: white;
    font-size: 100px;
    font-family: 'Abhaya Libre ExtraBold', '宋体', sans-serif;
    font-weight: 400;
    letter-spacing: 10px;
}

.lock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80vh;
    width: 550px;
    height: 300px;
    border-radius: 10px;
    border: 1px white solid;
}

.lock .image-container {
    position: relative;
    overflow: hidden;
    width: 100px;
    height: 100px;
}

.lock .image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.lock .image-container a img {
    opacity: 0;
}

.lock .image-container:hover>img {
    opacity: 0;
}

.lock .image-container:hover a img {
    opacity: 1;
}

.lock a {
    color: #fff;
    font-size: 24px;
    font-family: 'Abhaya Libre ExtraBold', sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    padding-top: 30px;
}

.line {
    position: sticky;
    top: 0;
    margin-top: 100vh;
    border-bottom: 1px #fff solid;
}

.list {
    margin-top: 45vh;
}

.list ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.list li {
    width: 100px;
    height: 100px;
    background-color: #D9D9D9;
    border-radius: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.list li:nth-child(2n) {
    background-color: transparent;
}

.list li:nth-child(6),
.list li:nth-child(8),
.list li:nth-child(10) {
    justify-content: flex-start;
}


.list li a {
    color: #fff;
    font-size: 45px;
    font-family: 'Lusitana', sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
}

.dream {
    margin: 50vh 0;
}

.dream a {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 120px;
    font-family: 'Abhaya Libre ExtraBold', '宋体', sans-serif;
    font-weight: 700;
    letter-spacing: -50px;
    padding-top: 10vh;
    padding-bottom: 100px;
    writing-mode: vertical-lr;
    text-orientation: upright;
}

.hand {
    text-align: center;
}

.hand img {
    border-radius: 325px
}

.rounded {
    margin-top: 40vh;
}

.rounded ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.rounded li {
    width: 100px;
    height: 100px;
    background-color: #D9D9D9;
    border-radius: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.rounded li:nth-child(2n) {
    width: 75px;
    height: 75px;
}

.rounded li:nth-child(3) {
    width: 50px;
    height: 50px;
}

.box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 800px;
    margin: 80vh auto 0;
    padding-bottom: 100vh;
    border-left: 5px #fff solid;
    border-right: 5px #fff solid;
    /* perspective: 1000px; */
}

.lucid {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 430px;
    height: 620px;
    background-color: #D9D9D9;
    margin-bottom: 200px;
    transform-style: preserve-3d;
    transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1);
    will-change: transform;
}

.lucid:hover {
    transform: rotateY(180deg);
}

.back {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.back img {
    width: 100%;
    height: 620px;
}

.lucid h2 {
    font-size: 64px;
    font-family: 'libre', '微软雅黑', sans-serif;
    font-weight: 700;
    color: #000;
    padding: 10px;
}

.lucid a {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #000;
    font-size: 24px;
    font-family: 'libre', sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 55px;
    padding-bottom: 20px;
}

.lucid li {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 80px;
    background-color: #000;
    border-radius: 50%;
}

.lucid:nth-child(even) {
    margin-left: auto;
}

.lucid:nth-child(n+3) h2 {
    line-height: 55px;
}

.text {
    position: relative;
    width: 800px;
    height: 680px;
    margin: 0 auto;
    margin-top: 30vh;
}

.text a {
    position: absolute;
    top: 50%;
    left: -25%;
    transform: translateY(-50%) rotate(90deg);
    transform-origin: center;
    color: #fff;
    font-size: 100px;
    font-family: 'libre', '宋体', sans-serif;
    font-weight: 700;
    letter-spacing: 10px;
}

.text-right {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -50%);
    width: 650px;
    height: 200px;
}

.text-right p {
    font-size: 15px;
    font-family: 'libre', '宋体', sans-serif;
    color: #fff;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.text-right p:nth-child(1) {
    font-size: 55px;
    font-weight: 700;
    letter-spacing: 3px;
}

.content {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
    width: 1000px;
    height: 500px;
    margin-top: 300px;
}

.content div {
    position: relative;
    width: 225px;
}

.list_one {
    height: 355px;
    background-color: #D9D9D9;
}

.list_one img {
    width: 100%;
    height: 100%;
}

.list_two {
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-family: 'Abhaya Libre ExtraBold', sans-serif;
    font-weight: 700;
    padding: 15px;
    letter-spacing: 2px;
}

.list_three {
    position: absolute;
    left: 50%;
    bottom: 15px;
    transform: translateX(-50%);
    text-align: center;
    font-size: 24px;
    font-family: 'Abhaya Libre ExtraBold', sans-serif;
}

.footer {
    margin-top: 200px;
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-family: 'Abhaya Libre ExtraBold', sans-serif;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 2px;
    margin-bottom: 300px;
}

.footer li {
    margin: 60px 0;
}

.footer li a {
    font-size: 30px;
    padding: 15px;
}

.hamburger_menu {
    position: sticky;
    top: 0;
    height: 48px;
    background-color: rgba(21, 1, 1, 0.6);
    z-index: 10;
}

.hamburger_menu #toggle {
    display: none;
}

.hamburger_menu label {
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.hamburger_menu label .hamburger_container {
    position: relative;
    top: 17px;
    left: 14px;
    width: 25px;
    height: 25px;
}

.hamburger_menu label .hamburger_container span {
    position: relative;
    top: 0;
    display: block;
    height: 1px;
    background-color: #ffffff;
    transition: transform 0.2s ease-in-out, top 0.2s ease-in-out 0.2s;
}

.hamburger_menu label .hamburger_container span:nth-child(2) {
    top: 10px;
}

.hamburger_menu #toggle:checked+label .hamburger_container span:nth-child(1) {
    top: 5px;
    transform: rotate(45deg);
    transition: top 0.2s ease-in-out, transform 0.2s ease-in-out 0.2s;
}

.hamburger_menu #toggle:checked+label .hamburger_container span:nth-child(2) {
    top: 5px;
    transform: rotate(-45deg);
    transition: top 0.2s ease-in-out, transform 0.2s ease-in-out 0.2s;
}

.hamburger_menu ul {
    width: 100vm;
    height: calc(90vh - 48px);
    padding: 0 50px;
    transform: scaleY(0);
    transition: all 0.4s ease-in-out;
    transform-origin: 50% 0;
    /* background-color: rgba(0, 0, 0, 0.9); */
    background: linear-gradient(rgba(21, 1, 1, 0.6), rgba(21, 1, 1, 0.1));
    opacity: 0;
}

.hamburger_menu ul li {
    text-align: center;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 25px;
    font-family: 'Abhaya Libre ExtraBold', sans-serif;
    /* padding: 30px; */
}

.hamburger_menu ul li a:hover {
    color: tomato;
    transition: all .5s;
}

.hamburger_menu #toggle:checked~ul {
    transform: scaleY(1);
    opacity: 1;
}

.future {
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-family: 'Abhaya Libre ExtraBold', sans-serif;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 2px;
    padding-top: 10vh;
    margin-bottom: 20px;
}

.future a {
    font-size: 38px;
}

.future .p_one {
    margin: 20px 0;
}

.future .p_two {
    margin-top: 100px;
    font-size: 20px;
}

.form-container {
    width: 700px;
    margin: 0 auto;
    padding: 20px;
    border: 1px rgba(255, 255, 255, .8) solid;
    border-radius: 10px;
    margin-bottom: 200px;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container label {
    margin-bottom: 10px;
    font-size: 16px;
    font-family: 'Abhaya Libre ExtraBold', '宋体', sans-serif;
    color: #fff;
    letter-spacing: 1px;
}

.form-container input,
.form-container textarea {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    color: #fff;
    border: 1px rgba(255, 255, 255, .8) solid;
    outline: none;
    background-color: transparent;
}

.form-container textarea {
    padding-bottom: 80px;
}

.form-container button {
    padding: 10px 20px;
    font-size: 20px;
    letter-spacing: 2px;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Abhaya Libre ExtraBold', '宋体', sans-serif;
}

.form-container button:hover {
    background-color: #555;
}